.bg1_1 {
  height: 780px;
  background-color: #97d065;

  position: relative;
  width: 100%;
  overflow: hidden;
}

.bg1_2 {
  height: 780px;
  background-position: left center;
  background-attachment: scroll;
  background-image: url('../assets/bg/bg-1.svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
}
.bg1_3 {
  height: 780px;

  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  transform: translateZ(0);
}

.first_block {
  position: absolute;
  width: 1200px;
  left: calc(50% - 600px + 0px);
  top: 37px;
  height: 100px;
  z-index: 2;
  border-width: 5px;
  border-radius: 50px;
  opacity: 0.9;
  background-color: #ffffff;
  background-position: center center;
  border-color: #000000;
  border-style: solid;
}

.dog {
  left: calc(50% - 600px + 21px);

  position: absolute;
  z-index: 5;
  top: 5px;
}
.x {
  position: absolute;
  left: calc(50% - 600px + 995px);
  top: 55px;
  z-index: 3;
}
.telegram {
  position: absolute;
  z-index: 4;
  top: 55px;
  left: calc(50% - 600px + 1090px);
}

.buy {
  position: absolute;

  z-index: 7;
  top: 404px;
  left: calc(50% - 600px + -4px);
}

.dog_bg {
  position: absolute;

  z-index: 6;
  top: 51px;
  left: calc(50% - 600px + 245px);
}

.text_bg {
  position: absolute;
  z-index: 8;
  top: 264px;
  left: calc(50% - 600px + 735px);
}

.text_sm {
  position: absolute;
  z-index: 8;
  top: 458px;
  left: calc(50% - 600px + 735px);
}

.img_down {
  position: absolute;
  z-index: 9;
  top: 650px;
  left: calc(50% - 600px + -898px);
  width: 3000px;
}

.slider {
  position: absolute;
  z-index: 10;
  top: 662px;
}

@media screen and (max-width: 1199px) {
  .first_block {
    width: 960px;
  }
  .x {
    left: calc(50% - 480px + 770px);
  }
  .telegram {
    left: calc(50% - 480px + 865px);
  }
  .dog_bg {
    top: 55px;
    left: calc(50% - 480px + 148px);
  }
  .text_bg {
    top: 295px;
    left: calc(50% - 480px + 630px);
    width: 338px;
  }
  .text_sm {
    top: 440px;
    left: calc(50% - 480px + 630px);
    width: 338px;
  }
  .buy {
    top: 445px;
    left: calc(50% - 480px + 0px);
    width: 304px;
  }
}
@media screen and (max-width: 959px) {
  .bg1_2 {
    height: 1060px;
  }
  .first_block {
    width: 640px;
    left: 26px;
    top: 37px;
    height: 80px;
  }
  .dog {
    top: 2px;
    width: 112px;
    left: calc(50% - 290px);
  }
  .x {
    top: 48px;
    left: calc(50% - 320px + 485px);
    width: 66px;
  }
  .telegram {
    top: 48px;
    left: calc(50% - 320px + 564px);
    width: 66px;
  }
  .dog_bg {
    top: 273px;
    left: calc(50% - 320px + 125px);
    width: 656px;
  }
  .text_bg {
    top: 114px;
    left: calc(50% - 320px + 103px);
    width: 435px;
  }
  .text_sm {
    top: 292px;
    left: calc(50% - 320px + 150px);
  }
  .buy {
    top: 708px;
    left: calc(50% - 320px + 10px);
  }
  .img_down {
    top: 918px;
    left: calc(50% - 320px + -1180px);
  }
}
@media (max-width: 639px) {
  .first_block {
    top: 35px;
    height: 80px;
    width: 480px;
    left: 23px;
  }
  .dog {
    top: -1px;
    width: 112px;
    left: calc(50% - 240px + 100px);
  }
  .x {
    top: 49px;
    left: calc(50% - 240px + 329px);
    width: 55px;
  }
  .telegram {
    top: 49px;
    left: calc(50% - 240px + 402px);
    width: 55px;
  }
  .dog_bg {
    top: 298px;
    left: calc(50% - 240px + 0px);
    width: 631px;
  }

  .text_bg {
    top: 111px;
    left: calc(50% - 240px + 37px);
    width: 404px;
  }

  .text_sm {
    top: 274px;
    left: calc(50% - 240px + 44px);
  }

  .buy {
    top: 737px;
    left: calc(50% - 240px + -17px);
    width: 266px;
  }
  .img_down {
    top: 918px;
    left: calc(50% - 320px + -1180px);
  }
}

@media screen and (max-width: 479px) {
  .bg1_1 {
    height: 730px;
  }
  .bg1_3 {
    height: 730px;
  }
  .first_block {
    left: calc(50% - 160px + -3px);

    width: 326px;
    top: 35px;
    height: 80px;
  }
  .dog {
    top: 10px;

    width: 101px;
  }
  .x {
    top: 53px;
    left: calc(50% - 160px + 200px);
    width: 55px;
  }
  .telegram {
    width: 55px;
    top: 53px;
    left: calc(50% - 160px + 258px);
  }
  .dog_bg {
    top: 232px;
    left: calc(50% - 160px + 31px);
    width: 385px;
  }

  .text_bg {
    top: 111px;
    left: calc(50% - 160px + 36px);
    width: 248px;
  }

  .text_sm {
    top: 210px;
    left: calc(50% - 160px + 36px);
    width: 234px;
  }
  .buy {
    top: 498px;
    left: calc(50% - 160px + 0px);
    width: 161px;
  }
  .img_down {
    top: 607px;
    left: calc(50% - 160px + -1340px);
  }
}
