.bg2_1 {
  height: 490px;
  background-color: #64821b;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.bg2_2 {
  height: 780px;
  background-color: #64821b;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.bg2_3 {
  height: 490px;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
}

.block {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  transform: translateZ(0);
}

.dex_scr {
  position: absolute;
  z-index: 43;
  top: 48px;
  left: calc(50% - 600px + 760px);
  width: 406px;
}
.text {
  position: absolute;
  z-index: 43;
  top: 48px;

  left: calc(50% - 620px);
  width: 50%;
  color: #ffffff;
  z-index: 2;
  border-width: 5px;
  border-radius: 50px;
  opacity: 0.9;
  /* background-color: #ffffff; */
  background-position: center center;
  border-color: #000000;
  border-style: solid;
  padding: 15px;
  backdrop-filter: blur(5px);
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.text > h1 {
  font-size: 34px;
  font-weight: bolder;
  text-align: center;
}
.text > p {
  font-size: 24px;
  font-weight: bold;
}
.dex_tol {
  position: absolute;
  z-index: 44;
  top: 148px;
  left: calc(50% - 600px + 580px);
  width: 406px;
}

@media screen and (max-width: 1199px) {
  .dex_scr {
    top: 142px;
    left: calc(50% - 480px + 550px);
    width: 334px;
  }
  .text {
    left: calc(50% - 480px);
  }
  .dex_tol {
    top: 200px;
    left: calc(50% - 480px + 485px);
    width: 234px;
  }
}
@media screen and (max-width: 959px) {
  .dex_scr {
    left: calc(50% - 320px + 355px);
    top: 142px;
    width: 334px;
  }
  .text {
    left: calc(50% - 420px + 25px);
  }
  .text > h1 {
    font-size: 24px;
  }
  .text > p {
    font-size: 18px;
  }
  .dex_tol {
    left: 479px;
    top: 200px;
    width: 234px;
    left: calc(50% - 320px + 300px);
  }
}
@media screen and (max-width: 639px) {
  .dex_scr {
    left: calc(50% - 320px + 405px);

    width: 184px;
  }

  .text {
    left: calc(50% - 240px);
  }
}
@media screen and (max-width: 479px) {
  .dex_scr {
    left: calc(50% - 320px + 345px);

    width: 184px;
  }

  .text {
    left: calc(50% - 240px + 65px);
  }
  .text > h1 {
    font-size: 1.2rem;
  }
  .text > p {
    font-size: 1rem;
    line-height: 1rem;
  }
}
